MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_CHARSET=
MYSQL_COLLATION=
MYSQL_PORT=
MYSQL_PORT_EXPOSE=

APP_PORT=

REDIS_PORT=
REDIS_PORT_EXPOSE=
REDIS_PASSWORD=
REDIS_DATABASES=
REDIS_HOST=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB=
KC_DB_USERNAME=
KC_DB_PASSWORD=
KC_PORT=
KC_PORT_EXPOSE=

KEYCLOAK_URL=
KEYCLOAK_URL_INTERNAL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=